* {
    /* border: 0.1em dotted; */

}

/*body*/

body {
    /*animation: blinking 2s infinite;*/
    overflow-x: hidden;
}

/* Navbar styling */


header {
    background-color: black;
    margin: -0.75%;
    height: 70px;
    position: fixed;
    padding-right: 50%;
    top: 0;
    padding-top: 1.25%;
    width: 105%;
}

img#logo {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 1%;
}


a#titletext {
    text-decoration: none;
    color: white;
    width: 40%;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    position: absolute;
    left: 5%;
    font-size: 3em;
}

div.navbar {
    height: 100%;
    display: flex;
    width: 100%;
    padding-bottom: 10px;

    position: relative;
}

div.navtext {
    padding-left: 40%;
    height: 100%;
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    padding-top: -3px;

}

div.nav {
    font-size: 1.3em;
    margin-left: 20px;
    margin-top: -9px;
    padding-bottom: 35px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 10%;
    margin-bottom: 1px;

}

div.nav:hover {
    border-top: 3px solid white
}

div#active {
    border-top: 3px solid white
}

a.navobj {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    padding-top: -3px;
}


/* keeping an overline when on the page */

div#sponsors {
    border-top: 3px solid white
}

div#home {
    border-top: 3px solid white
}

div#about {
    border-top: 3px solid white
}

div#currente {
    border-top: 3px solid white
}

div#achievenments {
    border-top: 3px solid white
}

div#resources {
    border-top: 3px solid white
}

div#contactus {
    border-top: 3px solid white
}

/*main intro image*/

img#centrallimg {
    width: 110%;
    margin-left: -1%;
    position: relative;
    margin-top: -10%;

}

img#headingimg {
    width: 20%;
    position: absolute;
    bottom: 20%;
    margin-left: 30%;
    opacity: 50%;
}

img#headingimg:hover {
    opacity: 90%;
}

h1.heading {
    font-size: 7em;
    color: white;
    position: absolute;
    bottom: 20%;
    margin-left: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 70%;
}

h1.heading:hover {
    opacity: 100%;
}

/* section spacer*/

div.bar {
    background-color: rgb(0, 48, 119);
    padding-top: 0.7%;
    position: absolute;
    top: 56.5vw;
    width: 110%;
    margin-left: -1%;
}

/* second section */

div#secondsection {
    width: 110%;
    margin-left: -5%;
    background: rgb(75, 44, 0);
    background: linear-gradient(90deg, rgba(75, 44, 0, 1) 0%, rgba(180, 96, 0, 1) 35%, rgba(0, 76, 205, 1) 100%);
    position: absolute;
}

section#aboutus {
    margin-bottom: 42.1%;
}

img#smolimg {
    width: 30%;
    margin-top: 6%;
    margin-left: 7%;
    margin-bottom: 5%;
    border-radius: 25px;
    border: 50px solid rgba(45, 143, 255, 0.705);
    float: left;

}

div#sidetext {
    position: relative;
    left: 3%;
    padding-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

h1.subH1 {
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: aliceblue;
}

p.text {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

span#indent {
    padding-left: 5%;
}

p#aboutbutton {
    background-color: rgb(253, 152, 1);
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    left: 40%;
}

a#learnlink {
    color: aliceblue;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
}

p#aboutbutton:hover {
    background-color: rgba(253, 152, 1, 0.774);

}

/* section spacer*/

/* div.bars {
    background-color: rgb(0, 48, 119);
    margin-top: -1%;
    padding-top: 0.7%;
    position: absolute;
    width: 110%;
    margin-left: -1%;
} */



/* sponsor section */

section.sponsorsection {
    background-color: lightblue;
    width: 110%;
    margin-left: -5%;
    padding-top: 5%;
    padding-bottom: 4%;

}

h1#subH12 {
    position: relative;
    color: black;
}

/*slideshow*/
/* Slideshow container*/
.slideshow-container {
    max-width: fit-content;
    max-height: fit-content;
    position: relative;
    margin: auto;
}

img.sponslideimage {
    max-width: 12.1vw;
    max-height: 8vw;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.sprev,
.snext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2%;
    padding: 2%;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.snext {
    right: 0;
    margin-right: 5%;
    margin-left: 5%;
    position: absolute;
}

/* On hover, add a black background color with a little bit see-through */
.sprev:hover,
.snext:hover {
    background-color: aliceblue;
}




/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}

/* section spacer*/

div.barss {
    background-color: rgb(0, 48, 119);
    padding-top: 0.7%;
    position: absolute;
    width: 110%;
    margin-left: -0.5%;
    bottom: 54%;
}

/*footer*/

footer {
    background-color: rgb(34, 34, 34);
    width: 110%;
    margin-left: -5%;
    padding-top: 0.5%;
    margin-bottom: -1%;
    bottom: 0;
    position: relative;
}


div.footbar {
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 5%;
}

div.foot {
    font-size: 1.25em;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 2%;
    height: 50%;
    width: 15%;
    position: relative;
}

h2 {
    font-size: 1.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: aliceblue;
    padding-left: 10%;
}

a.footobj {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: aliceblue;
    padding-bottom: 1%;
}

img#logos {
    width: 10%;
    padding-top: 1%;
}

/*About us page*/

section.sectionformat {
    margin-left: -0.5%;
    width: 101%;
    padding-top: 40%;
    background-color: rgba(0, 0, 0, 0.897);
}

div#aboutimage {
    background-image: url(titlebackground.png);
}

h1#abouth1 {
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: aliceblue;
    position: absolute;
    top: 10%;
    left: 45%;
}

img#centralimg1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    padding-top: -3%;

}




div#secondsection0 {
    width: 110%;
    margin-left: -5%;
    background: rgb(75, 44, 0);
    background: linear-gradient(90deg, rgba(75, 44, 0, 1) 0%, rgba(180, 96, 0, 1) 35%, rgba(0, 76, 205, 1) 100%);
    padding-bottom: 40%;
    margin-bottom: -1%;
}

section#aboutintro {
    margin-bottom: 1%;
}

div#smolimgplace1 {
    float: right;
    position: relative;
    padding-right: 10%;
}

img#smolimg1 {
    width: 70%;
    margin-top: 20%;
    margin-right: 25%;
    margin-bottom: 5%;
    border-radius: 25px;
    border: 50px solid rgba(45, 143, 255, 0.705);


}

div#sidetext0 {
    position: relative;
    left: 3%;
    padding-top: 5%;
    margin-left: 10%;
    margin-right: 5%;
    float: left;
    width: 30%;

}

h1.subH1 {
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: aliceblue;
}

p.text1 {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

/*about us bar*/
div#aboutusbar {
    background-color: rgb(0, 48, 119);
    padding-top: 0.7%;
    position: absolute;

    width: 110%;
    margin-left: -1%;
    margin-top: 0%;
}


/* members sectionin aboutus*/
section#members {
    padding-top: 1%;
    margin-left: -0.5%;
    width: 101%;
    background: rgb(181, 112, 0);
    background: radial-gradient(circle, rgba(181, 112, 0, 1) 0%, rgba(0, 109, 238, 1) 100%);
}

h1#members {
    padding-bottom: 15%;
}

div#memba {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    padding-bottom: 20%;
    margin-top: -18%;
}

div.member {
    font-size: 1em;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    width: fit-content;
    padding: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(255, 201, 100);
    border-radius: 5%;
    margin-top: 5%;
}

img#memba1 {
    border-radius: 10%;
}

h4#memba {
    font-family: 'Courier New', Courier, monospace;


}

p#memba {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

/*current events page*/

section#CurrentEintro {
    width: 110%;
    margin-left: -5%;
    padding-top: 3%;
    margin-top: -1%;
    padding-bottom: 10%;
    background: rgb(34, 116, 195);
    background: linear-gradient(0deg, rgba(34, 116, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

h1#achieveh112 {
    font-size: 7em;
    color: white;
    position: absolute;
    bottom: 40%;
    margin-left: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*slideshow stuffs*/


/* Slideshow container */
.slideshow-container {
    max-width: fit-content;
    max-height: fit-content;
    position: relative;
    margin: auto;
}

img.slideimage {
    width: 52.1vw;
    height: 30vw;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2%;
    padding: 2%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 1% 0% 0% 1%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
div.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* The dots/bullets/indicators */
div#dots {
    background-color: orange;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 0.1%;
    width: 3%;
    margin-left: 49%;
    border-radius: 10%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}

/*achievements page*/

section#sectionformat1 {
    margin-top: 10%;
}


section#Achievementsintro {
    width: 110%;
    margin-left: -5%;
    margin-top: -2.5%;
    padding-bottom: 1%;
    background: rgb(34, 61, 195);
    background: linear-gradient(0deg, rgba(34, 61, 195, 1) 0%, rgba(23, 23, 23, 1) 100%);
}



ul#achieve {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
    font-weight: bolder;
}

h1#achievetitle {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: aliceblue;

}

img#centralimg2 {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    padding-top: -3%;

}

h1#achieveh1 {
    font-size: 7em;
    color: white;
    position: absolute;
    bottom: 50%;
    margin-left: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


/*resources page*/

section#resourceintro {
    width: 100%;
    margin-left: 0.0%;
    margin-right: 10%;
    background-color: white;

}

hr {
    width: 50%;

}

p#resourcelink {
    text-align: center
}

a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
    font-weight: bolder;
}

h1#resourceheading {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


div#secondsection1 {
    width: 110%;
    height: 50vw;
    margin-left: -5%;
    margin-bottom: -20%;
    margin-top: 5vw;
}

div#sidetext2 {
    position: absolute;
    right: -6%;
    margin-right: 15%;
    float: right;
    width: 30%;
    background-color: orangered;
    border-radius: 10%;
    padding: 1% 1%;
}

div#sidetext3 {
    position: relative;
    left: 2%;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    width: 30%;
    background-color: blue;
    border-radius: 10%;
    padding: 1% 1%;
}

div.subH12 {
    margin-top: -10%;
}

div#sidetext4 {
    position: absolute;
    right: -2%;
    top: 1%;
    margin-right: 15%;
    float: right;
    width: 30%;
    background-color: orangered;
    border-radius: 10%;
    padding: 1% 1%;
}

div#sidetext5 {
    position: absolute;
    left: 2%;
    top: 1%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    width: 30%;
    background-color: blue;
    border-radius: 10%;
    padding: 1% 1%;
}

div#thirdsection {
    position: relative;
    width: 110%;
    margin-left: -5%;
    background: rgb(75, 44, 0);
    background: linear-gradient(90deg, rgba(75, 44, 0, 1) 0%, rgba(180, 96, 0, 1) 35%, rgba(0, 76, 205, 1) 100%);
    padding-bottom: 40%;
    margin-bottom: -10%;
}

/*sponsors*/


h1#achieveh113 {
    font-size: 7em;
    color: white;
    position: absolute;
    bottom: 57%;
    margin-left: 37%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


img#apple {
    margin-left: 42%;
    width: 300px;
    height: 200px;
}

img#te {
    margin-left: 28%;
    width: 300px;
    height: 200px;
}

img#qorvo {
    margin-left: 0%;
    width: 200px;
    height: 200px;
}

img#PG {
    margin-left: 0%;
    width: 200px;
    height: 200px;
}

img#abco {
    margin-left: 28%;
    width: 300px;
    height: 200px;
}

img#kali {
    margin-left: 0%;
    width: 250px;
    height: 150px;
    padding-bottom: 1%;
}

img#will {
    margin-left: 0%;
    padding-bottom: 1%;
    width: 250px;
    height: 150px;
}

img#gtc {
    margin-left: 33%;
    width: 300px;
    height: 150px;
}

img#ptsa {
    margin-left: 0%;
    width: 350px;
    height: 200px;
}

img#parents {
    margin-left: 41%;
    width: 300px;
    height: 200px;
}

img#united {
    margin-left: 26%;
    width: 300px;
    height: 150px;
}

img#network {
    margin-left: 0%;
    width: 350px;
    height: 150px;
}

img#HT {
    margin-left: 0%;
    width: 300px;
    height: 200px;
}



section#resourceintro {
    width: 100%;
    margin-left: 0.0%;
    margin-right: 10%;
    background-color: white;

}

hr {
    width: 50%;

}

p#resourcelink {
    text-align: center
}

a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
    font-weight: bolder;
}

h1#sponsorheading {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1#achieveh11 {
    font-size: 7em;
    color: white;
    position: absolute;
    bottom: 50%;
    margin-left: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*contactus page*/


h1#achieveh114 {
    font-size: 7em;
    color: white;
    position: absolute;
    bottom: 35%;
    margin-left: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

section#contactusintro {
    width: 110%;
    margin-left: -5%;
    padding-top: 2vw;
    margin-top: -1%;
    padding-bottom: 1vw;
}

div#form {
    margin-bottom: 2vw;
}

iframe#contactform {
    padding-left: 35%;
    border-radius: 10%;
}

div#maps {
    padding-top: 1%;
    padding-bottom: 2%;
    border-radius: 10%;
    background-color: rgba(233, 233, 233, 0.445);
}

iframe#maps {
    padding-left: 33%;
    border-radius: 10%;
}

h1#black {
    color: black;

}



@media (max-width : 800px) {

    body {
        /*animation: blinking 2s infinite;*/
        overflow-x: hidden;
    }
    header {
        background-color: black;
        margin: -0.75%;
        margin-left: -2%;
        height: 20px;
        position: fixed;
        padding-right: 50%;
        top: 0;
        padding-top: 0.25%;
        width: 100%;
    }

    img#logo {
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0%;
    }

    div#title {}

    a#titletext {
        text-decoration: none;
        color: white;
        width: 10%;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif, sans-serif;
        position: absolute;
        left: 5%;
        top: 7%;
        font-size: 0.5em;
    }

    div.navbar {
        height: 100%;
        display: flex;
        width: 100%;
        padding-bottom: 10px;
        position: relative;
    }

    div.navtext {
        padding-left: 25%;
        height: 100%;
        display: flex;
        width: 100%;
        padding-bottom: 10px;
        padding-top: -3px;

    }



    div.nav {
        font-size: 0.3em;
        margin-left: 0px;
        margin-top: -9px;
        padding-bottom: 35px;
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        height: 10%;
        margin-bottom: 1px;

    }

    a.navobj {
        text-decoration: none;
        color: whitesmoke;
        font-family: 'Indie Flower', cursive;
        font-weight: bolder;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif, sans-serif;

    }

    a.navobj:hover {}

    /*main intro image*/

    img#centrallimg {
        width: 110%;
        margin-left: -3%;
        position: relative;

    }

    img#headingimg {
        width: 15%;
        position: absolute;
        bottom: 85%;
        margin-left: 30%;
        opacity: 50%;
    }

    img#headingimg:hover {
        opacity: 90%;
    }

    h1.heading {
        font-size: 1em;
        color: white;
        position: absolute;
        bottom: 85%;
        margin-left: 46%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        opacity: 70%;
    }

    h1.heading:hover {
        opacity: 100%;
    }

    /* section spacer*/

    div.bar {
        background-color: rgb(0, 48, 119);
        padding-top: 1.2%;
        position: absolute;
        top: 57vw;
        width: 110%;
        margin-left: -3%;
    }

    /* second section */

    div#secondsection {
        width: 105%;
        margin-right: -1%;
        background: rgb(75, 44, 0);
        background: linear-gradient(90deg, rgba(75, 44, 0, 1) 0%, rgba(180, 96, 0, 1) 35%, rgba(0, 76, 205, 1) 100%);
        position: absolute;
        padding-bottom: 5%;
    }

    section#aboutus {
        margin-bottom: 42.1%;
    }

    img#smolimg {
        width: 30%;
        margin-top: 6%;
        margin-left: 7%;
        margin-bottom: 5%;
        border-radius: 25px;
        border: 5px solid rgba(45, 143, 255, 0.705);
        float: left;

    }

    div#sidetext {
        position: relative;
        left: 3%;
        padding-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    h1.subH1 {

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: aliceblue;
    }

    p.text {
        font-size: 0.3em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }

    span#indent {
        padding-left: 5%;
    }

    p#aboutbutton {
        background-color: rgb(253, 152, 1);
        position: absolute;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
        padding-bottom: 5px;
        border-radius: 5px;
        left: 60%;
        top: 90%;
    }

    a#learnlink {
        color: aliceblue;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.3em;
        font-weight: bolder;
    }

    p#aboutbutton:hover {
        background-color: rgba(253, 152, 1, 0.774);

    }




/* sponsor section */

section.sponsorsection {
    background-color: lightblue;
    width: 110%;
    margin-left: -5%;
    padding-top: 1%;
    padding-bottom: 4%;

}

h1#subH12 {
    position: relative;
    color: black;
}

/*slideshow*/
/* Slideshow container*/
.slideshow-container {
    max-width: fit-content;
    max-height: fit-content;
    position: relative;
    margin: auto;
}

img.sponslideimage {
    max-width: 12.1vw;
    max-height: 8vw;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.sprev,
.snext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 1%;
    margin-top: -2%;
    padding: 2%;
    color: black;
    font-weight: bold;
    font-size: 5px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.snext {
    right: 0;
    margin-right: 5%;
    margin-left: 5%;
    position: absolute;
}

/* On hover, add a black background color with a little bit see-through */
.sprev:hover,
.snext:hover {
    background-color: aliceblue;
}




/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}

    
    /* section spacer*/

    div.barss {
        background-color: rgb(0, 48, 119);
        padding-top: 0.7%;
        position: absolute;
        width: 110%;
        margin-left: -0.5%;
        bottom: 54%;
    }

    /*footer*/

    footer {
        background-color: rgb(34, 34, 34);
        width: 110%;
        margin-left: -5%;
        padding-top: 0.5%;
        margin-bottom: -10%;
        position: relative;
    }


    div.footbar {
        height: 1px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 5%;
    }

    div.foot {
        font-size: 0.3em;
        text-align: center;
        padding-top: 2%;
        height: 20%;
        width: 15%;
        position: relative;
    }

    h2 {
        font-size: 0.7em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
        color: aliceblue;
        padding-left: 10%;
    }

    a.footobj {
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: larger;
        color: aliceblue;
        padding-bottom: 1%;
    }

    img#logos {
        width: 10%;
        padding-top: 1%;
    }

    /*About us page*/

    section.sectionformat {
        margin-left: -3.5%;
        width: 110%;
        padding-top: 40%;
        background-color: rgba(0, 0, 0, 0.897);
    }
    
    div#aboutimage {
        background-image: url(titlebackground.png);
    }
    
    h1#abouth1 {
        font-size: 0.7em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: aliceblue;
        position: absolute;
        top: 3%;
        left: 42%;
    }
    
    img#centralimg1 {
        position: absolute;
        top: 4.7%;
        left: 20%;
        width: 60%;
        padding-top: -3%;
    
    }
       
    
    div#secondsection0 {
        width: 110%;
        margin-left: -5%;
        background: rgb(75, 44, 0);
        background: linear-gradient(90deg, rgba(75, 44, 0, 1) 0%, rgba(180, 96, 0, 1) 35%, rgba(0, 76, 205, 1) 100%);
        padding-bottom: 40%;
        margin-bottom: -1%;
    }
    
    section#aboutintro {
        margin-bottom: 1%;
    }
    
    div#smolimgplace1 {
        float: right;
        position: absolute;
        margin-left: 55%;
        top: 17%
    }
    
    img#smolimg1 {
        width: 100%;
        height: 100%;
        margin-right: 5%;
        border-radius: 5px;
        border: 5px solid rgba(45, 143, 255, 0.705);
    
    }
    
    div#sidetext0 {
        position: relative;
        left: 3%;
        padding-top: 2%;
        margin-left: 10%;
        margin-right: 5%;
        float: left;
        width: 30%;
    
    }
    
    h1.subH1 {
        font-size: 0.5em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: aliceblue;
    }
    
    p.text1 {
        font-size: 0.2em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }
    
    /*about us bar*/
    div#aboutusbar {
        background-color: rgb(0, 48, 119);
        padding-top: 0.7%;
        position: absolute;
    
        width: 110%;
        margin-left: -5%;
        margin-top: 0%;
    }
    
    
    /* members sectionin aboutus*/
    section#members {
        padding-top: 1%;
        margin-left: -5.5%;
        width: 111%;
        background: rgb(181, 112, 0);
        background: radial-gradient(circle, rgba(181, 112, 0, 1) 0%, rgba(0, 109, 238, 1) 100%);
    }
    
    h1#members {
        padding-bottom: 15%;
    }
    
    div#memba {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        padding-bottom: 20%;
        margin-top: -18%;
    }
    
    div.member {
        font-size: 1em;
        margin-bottom: 3%;
        margin-left: 3%;
        margin-right: 3%;
        width: fit-content;
        padding: 3%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgb(255, 201, 100);
        border-radius: 5%;
        margin-top: 5%;
    }
    
    img#memba1 {
        border-radius: 10%;
    }
    
    h4#memba {
        font-family: 'Courier New', Courier, monospace;
    
    
    }
    
    p#memba {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
    }

 /*current events page*/

section#CurrentEintro {
    width: 110%;
    margin-left: -5%;
    padding-top: 3%;
    margin-top: -1%;
    padding-bottom: 10%;
    background: rgb(34, 116, 195);
    background: linear-gradient(0deg, rgba(34, 116, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

h1#achieveh112 {
    font-size: 1em;
    color: white;
    position: absolute;
    bottom: 89%;
    margin-left: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*slideshow stuffs*/


/* Slideshow container */
.slideshow-container {
    max-width: fit-content;
    max-height: fit-content;
    position: relative;
    margin: auto;
}

img.slideimage {
    width: 52.1vw;
    height: 30vw;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2%;
    padding: 2%;
    color: white;
    font-weight: bold;
    font-size: 5px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 1% 0% 0% 1%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
div.text {
    color: #f2f2f2;
    font-size: 10px;
    padding: 10px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* The dots/bullets/indicators */
div#dots {
    background-color: orange;
    padding-top: 0.3%;
    width: 6%;
    margin-top: -3%;
    margin-left: 48%;
    border-radius: 10%;
}

.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0.1px 0.1px;
    padding: 0.1px 0.1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}

/*achievements page*/

section#sectionformat1 {
    margin-top: 10%;
}


section#Achievementsintro {
    width: 115%;
    margin-left: -10.3%;
    margin-top: -4.8%;
    padding-bottom: 1%;
    background: rgb(34, 61, 195);
    background: linear-gradient(0deg, rgba(34, 61, 195, 1) 0%, rgba(23, 23, 23, 1) 100%);
}



ul#achieve {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
    font-weight: bolder;
    font-size: 0.8em;
    margin-right: 3%;
}

h1#achievetitle {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: aliceblue;

}

img#centralimg2 {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    padding-top: -3%;

}

h1#achieveh1 {
    font-size: 2em;
    color: white;
    position: absolute;
    bottom: 85%;
    margin-left: 26%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


/*resources page*/

section#resourceintro {
    width: 100%;

    margin-right: 10%;
    background-color: white;

}

/* h1#achieveh11 {
    font-size: 0.7em;
    color: white;
    position: absolute;
    bottom: 85%;
    margin-left: 26%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} */

hr {
    width: 50%;

}

p#resourcelink {
    text-align: center
}

a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
    font-weight: bolder;
}

h1#resourceheading {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


div#secondsection1 {
    width: 110%;
    height: 50vw;
    margin-left: -5%;
    margin-bottom: -20%;
    margin-top: 5vw;
}

div#sidetext2 {
    position: absolute;
    right: -6%;
    margin-right: 15%;
    float: right;
    width: 30%;
    background-color: orangered;
    border-radius: 10%;
    padding: 1% 1%;
}

div#sidetext3 {
    position: relative;
    left: 2%;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    width: 30%;
    background-color: blue;
    border-radius: 10%;
    padding: 1% 1%;
}

div.subH12 {
    margin-top: -10%;
}

div#sidetext4 {
    position: absolute;
    right: -2%;
    top: 1%;
    margin-right: 15%;
    float: right;
    width: 30%;
    background-color: orangered;
    border-radius: 10%;
    padding: 1% 1%;
}

div#sidetext5 {
    position: absolute;
    left: 2%;
    top: 1%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    width: 30%;
    background-color: blue;
    border-radius: 10%;
    padding: 1% 1%;
}

div#thirdsection {
    position: relative;
    width: 110%;
    margin-left: -5%;
    background: rgb(75, 44, 0);
    background: linear-gradient(90deg, rgba(75, 44, 0, 1) 0%, rgba(180, 96, 0, 1) 35%, rgba(0, 76, 205, 1) 100%);
    padding-bottom: 40%;
    margin-bottom: -10%;
}

/*sponsors*/


h1#achieveh113 {
    font-size: 1.5em;
    color: white;
    position: absolute;
    bottom: 90%;
    margin-left: 37%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


img#apple {
    margin-left: 38%;
    width: 100px;
    height: 75px;
}

img#te {
    margin-left: 8%;
    width: 100px;
    height: 75px;
}

img#qorvo {
    margin-left: 0%;
    width: 100px;
    height: 75px;
}

img#PG {
    margin-left: 0%;
    width: 100px;
    height: 75px;
}

img#abco {
    margin-left: 12%;
    width: 100px;
    height: 75px;
}

img#kali {
    margin-left: 0%;
    width: 100px;
    height: 75px;
    padding-bottom: 1%;
}

img#will {
    margin-left: 0%;
    padding-bottom: 1%;
    width: 100px;
    height: 75px;
}

img#gtc {
    margin-left: 22%;
    width: 100px;
    height: 75px;
}

img#ptsa {
    margin-left: 0%;
    width: 100px;
    height: 75px;
}

img#parents {
    margin-left: 38%;
    width: 100px;
    height: 75px;
}

img#united {
    margin-left: 12%;
    width: 100px;
    height: 50px;
    padding-bottom: 3%;
}

img#network {
    margin-left: 0%;
    width: 100px;
    height: 45px;
    padding-bottom: 3%;
}

img#HT {
    margin-left: 0%;
    width: 100px;
    height: 75px;
}



section#resourceintro {
    width: 100%;
    margin-left: 0.0%;
    margin-right: 10%;
    background-color: white;

}

hr {
    width: 50%;

}

p#resourcelink {
    text-align: center
}

a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
    font-weight: bolder;
}

h1#sponsorheading {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1#achieveh11 {
    font-size: 7em;
    color: white;
    position: absolute;
    bottom: 50%;
    margin-left: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*contactus page*/

section#sectionformat11 {
    margin-top: 10%;
    width: 110%;
}

h1#achieveh114 {
    font-size: 2em;
    color: white;
    position: absolute;
    bottom: 85%;
    margin-left: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

section#contactusintro {
    width: 110%;
    margin-left: -3%;
    padding-top: 2vw;
    margin-top: -1%;
    padding-bottom: 1vw;
}

div#form {
    margin-bottom: 2vw;
}

iframe#contactform {
    padding-left: 23%;
    border-radius: 10%;
}

div#maps {
    padding-top: 1%;
    padding-bottom: 2%;
    border-radius: 10%;
    background-color: rgba(233, 233, 233, 0.445);
}

iframe#maps {
    padding-left: 17%;
    border-radius: 10%;
}

h1#black {
    color: black;

}
}
/* */
/* 
@media (min-width : 1720px) {
    div.bars {
        background-color: rgb(0, 48, 119);
        padding-top: 0.7%;
        width: 110%;
        margin-left: -3%;

        margin-top: -1%;
    }

    div#sidetext {
        position: relative;
        left: 3%;
        padding-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    /*contactus page*/
/*

    section#contactusintro {
        width: 110%;
        margin-left: -5%;
        padding-top: 1vw;
        padding-bottom: 1vw;
        background: rgb(75, 44, 0);
        background: linear-gradient(90deg, rgba(75, 44, 0, 1) 0%, rgba(180, 96, 0, 1) 35%, rgba(0, 76, 205, 1) 100%);
    }

    div#form {
        margin-bottom: 2vw;
    }

    iframe#contactform {
        padding-left: 36.5%;
    }

    div#maps {
        padding-top: 1%;
        padding-bottom: 2%;

        background-color: rgba(233, 233, 233, 0.445);
    }

    iframe#maps {
        padding-left: 35%;
    }

    h1#black {
        color: black;
    }


}
*/ 
@media (min-width : 1200px) and (max-width : 1400px) {

    /*nav bar*/
    

    header {
        background-color: black;
        margin: -0.75%;
        height: 70px;
        position: fixed;
        padding-right: 50%;
        top: 0;
        padding-top: 1.25%;
        width: 105%;
    }

    img#logo {
        width: 70px;
        height: 70px;
        position: absolute;
        left: 1%;
    }


    a#titletext {
        text-decoration: none;
        color: white;
        width: 20%;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif, sans-serif;
        position: absolute;
        left: 7%;
        top: 8%;
        font-size: 2em;
    }

    div.navbar {
        height: 100%;
        display: flex;
        width: 100%;
        padding-bottom: 10px;

        position: relative;
    }

    div.navtext {
        padding-left: 30%;
        height: 100%;
        display: flex;
        width: 70%;
        padding-bottom: 10px;
        padding-top: -3px;

    }



    div.nav {
        font-size: 1.2em;
        margin-left: 20px;
        margin-top: -9px;
        padding-bottom: 35px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        height: 10%;
        margin-bottom: 1px;

    }

    div.nav:hover {
        border-top: 3px solid white
    }

    div.nav:active {
        border-top: 3px solid white
    }

    a.navobj {
        text-decoration: none;
        color: whitesmoke;
        font-family: 'Indie Flower', cursive;
        font-weight: bolder;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif, sans-serif;
        padding-top: -3px;
    }

    a.navobj:hover {}

    /* keeping an overline when on the page */


    div#sponsors {
        border-top: 3px solid white
    }

    div#home {
        border-top: 3px solid white
    }

    div#about {
        border-top: 3px solid white
    }

    div#currente {
        border-top: 3px solid white
    }

    div#achievenments {
        border-top: 3px solid white
    }

    div#resources {
        border-top: 3px solid white
    }

    div#contactus {
        border-top: 3px solid white
    }

    /*about us page*/
    section.sectionformat {
        margin-left: -0.6%;
        width: 101%;
        padding-top: 40%;
        background-color: rgba(0, 0, 0, 0.897);
    }

    h1#abouth1 {
        font-size: 3em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: aliceblue;
        position: absolute;
        top: 11%;
        left: 42%;
    }

    img#centralimg1 {
        position: absolute;
        top: 21%;
        left: 20%;
        width: 60%;
        padding-top: -3%;

    }

    div#secondsection0 {
        width: 110%;
        margin-left: -5%;
        background: rgb(75, 44, 0);
        background: linear-gradient(90deg, rgba(75, 44, 0, 1) 0%, rgba(180, 96, 0, 1) 35%, rgba(0, 76, 205, 1) 100%);
        padding-bottom: 40%;
        margin-bottom: -1%;
    }

    section#aboutintro {
        margin-bottom: 1%;
    }

    div#smolimgplace1 {
        float: right;
        position: relative;
        padding-right: 15%;
    }

    img#smolimg1 {
        width: 340px;
        height: 340px;
        margin-top: 20%;
        margin-bottom: 5%;
        border-radius: 25px;
        border: 25px solid rgba(45, 143, 255, 0.705);


    }

    div#sidetext0 {
        position: relative;
        left: 3%;
        padding-top: 5%;
        margin-left: 10%;
        margin-right: 5%;
        float: left;
        width: 30%;

    }

    h1.subH1 {
        font-size: 2em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: aliceblue;
    }

    p.text1 {
        font-size: 1.1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }

    /*about us bar*/
    div#aboutusbar {
        background-color: rgb(0, 48, 119);
        padding-top: 0.7%;
        position: absolute;

        width: 110%;
        margin-left: -1%;
        margin-top: 0%;
    }

    /* members sectionin aboutus*/
    section#members {
        padding-top: 1%;
        margin-left: -0.5%;
        width: 101%;
        background: rgb(181, 112, 0);
        background: radial-gradient(circle, rgba(181, 112, 0, 1) 0%, rgba(0, 109, 238, 1) 100%);
    }

    h1#members {
        padding-bottom: 15%;
    }

    div#memba {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        padding-bottom: 20%;
        margin-top: -18%;
    }

    div.member {
        font-size: 1em;
        margin-bottom: 3%;
        margin-left: 3%;
        margin-right: 3%;
        width: fit-content;
        padding: 3%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgb(255, 201, 100);
        border-radius: 5%;
        margin-top: 5%;
    }

    img#memba1 {
        border-radius: 10%;
    }

    h4#memba {
        font-family: 'Courier New', Courier, monospace;


    }

    p#memba {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
    }

    /*current events*/
    section#CurrentEintro {
        width: 110%;
        margin-left: -5%;
        padding-top: 3%;
        margin-top: -1%;
        padding-bottom: 10%;
        background: rgb(34, 116, 195);
        background: linear-gradient(0deg, rgba(34, 116, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    }

    h1#achieveh112 {
        font-size: 7em;
        color: white;
        position: absolute;
        bottom: 35%;
        margin-left: 25%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    /*achievenemtns section*/

    section#Achievementsintro {
        width: 111%;
        margin-left: -5%;
        margin-top: -3.5%;
        padding-bottom: 1%;
        padding-top: 1%;
        background: rgb(34, 61, 195);
        background: linear-gradient(0deg, rgba(34, 61, 195, 1) 0%, rgba(23, 23, 23, 1) 100%);
    }



    ul#achieve {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: orange;
        font-weight: bolder;
    }

    h1#achievetitle {
        font-family: 'Open Sans', sans-serif;

        font-size: 3em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: aliceblue;

    }

    img#centralimg2 {
        position: absolute;
        top: 20%;
        left: 0%;
        width: 100%;
        padding-top: -3%;

    }

    h1#achieveh1 {
        font-size: 7em;
        color: white;
        position: absolute;
        bottom: 40%;
        margin-left: 25%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    /*resources*/
    h1#achieveh11 {
        font-size: 7em;
        color: white;
        position: absolute;
        bottom: 30%;
        margin-left: 30%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    /*sponsors*/

    img#apple {
        margin-left: 38%;
        width: 300px;
        height: 200px;
    }

    img#te {
        margin-left: 22%;
        width: 300px;
        height: 200px;
    }

    img#qorvo {
        margin-left: 0%;
        width: 200px;
        height: 200px;
    }

    img#PG {
        margin-left: 0%;
        width: 200px;
        height: 200px;
    }

    img#abco {
        margin-left: 20%;
        width: 300px;
        height: 200px;
    }

    img#kali {
        margin-left: 0%;
        width: 250px;
        height: 150px;
        padding-bottom: 1%;
    }

    img#will {
        margin-left: 0%;
        padding-bottom: 1%;
        width: 250px;
        height: 150px;
    }

    img#gtc {
        margin-left: 26%;
        width: 300px;
        height: 150px;
    }

    img#ptsa {
        margin-left: 0%;
        width: 350px;
        height: 200px;
    }

    img#parents {
        margin-left: 38%;
        width: 300px;
        height: 200px;
    }

    img#united {
        margin-left: 12%;
        width: 300px;
        height: 150px;
    }

    img#network {
        margin-left: 0%;
        width: 350px;
        height: 150px;
    }

    img#HT {
        margin-left: 0%;
        width: 300px;
        height: 200px;
    }



    h1#achieveh113 {
        font-size: 7em;
        color: white;
        position: absolute;
        bottom: 45%;
        margin-left: 33%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    /*contactus page*/

    section#contactusintro {
        width: 110%;
        margin-left: -5%;
        padding-top: 2vw;
        margin-top: -1%;
        padding-bottom: 1vw;
    }

    div#form {
        margin-bottom: 2vw;
    }

    iframe#contactform {
        padding-left: 35%;
        border-radius: 10%;
    }

    div#maps {
        padding-top: 1%;
        padding-bottom: 2%;
        border-radius: 10%;
        background-color: rgba(233, 233, 233, 0.445);
    }

    iframe#maps {
        padding-left: 33%;
        border-radius: 10%;
    }

    h1#black {
        color: black;

    }

    h1#achieveh114 {
        font-size: 7em;
        color: white;
        position: absolute;
        bottom: 35%;
        margin-left: 30%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }


} 